NOTA_HOST=0.0.0.0
NOTA_PORT=8010
NOTA_DEVICE=cpu
NOTA_PRELOAD_MODEL=sensevoice
NOTA_ENABLED_MODELS=sensevoice,paraformer
NOTA_MODEL_DIR=./models
NOTA_API_KEYS=
NOTA_MAX_UPLOAD_BYTES=2147483648
NOTA_MAX_AUDIO_SECONDS=21600
NOTA_MAX_CONCURRENT_INFERENCES=1
NOTA_TEMP_DIR=
NOTA_LOG_LEVEL=INFO
